//colors
$clr-primary-400: hsl(192, 37%, 48%);
$clr-primary-100: hsl(192, 90%, 77%);
$clr-secondary-400: hsl(268, 34%, 53%);
$clr-secondary-100: hsl(265, 100%, 86%);
$clr-black: hsl(240, 21%, 20%);
$clr-grey: hsl(240, 10%, 57%);
$clr-white: hsl(0, 0%, 98%);

//typeography
//font-families
$ff-red-hat: "Red Hat Display", sans-serif;

//font-size
$fs-100: 100;
$fs-200: 200;
$fs-300: 300;
$fs-400: 400;
$fs-500: 500;
$fs-600: 600;
$fs-700: 700;
$fs-800: 800;
$fs-900: 900;

//font-weight
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

//spacer variables
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-7: 1.75rem;
$size-8: 2rem;
$size-9: 2.25rem;
$size-10: 2.5rem;
$size-11: 2.75rem;
$size-12: 3rem;
$size-13: 3.25rem;
$size-14: 3.5rem;
$size-15: 3.75rem;
$size-16: 4rem;
$size-17: 4.25rem;
$size-18: 4.5rem;
$size-19: 4.75rem;
$size-20: 5rem;
$size-21: 5.25rem;
$size-22: 5.5rem;
$size-23: 5.75rem;
$size-24: 6rem;
$size-25: 6.25rem;
$size-26: 6.5rem;
$size-27: 6.75rem;
$size-28: 7rem;
$size-29: 7.25rem;
$size-30: 7.5rem;
$size-31: 7.75rem;
$size-32: 8rem;
$size-33: 8.25rem;
$size-34: 8.5rem;
$size-35: 8.75rem;
$size-36: 9rem;
$size-37: 9.25rem;
$size-38: 9.5rem;
$size-39: 9.75rem;
$size-40: 10rem;
