body {
  font-family: $ff-red-hat;
  background-color: $clr-white;
}

h1,
h2 {
  font-weight: $fw-700;
}

h1 {
  font-size: $size-8;
  line-height: $size-8;
}
h2 {
  font-size: $size-6;
  line-height: $size-6;
}

p {
  font-size: $size-4;
  color: $clr-grey;
}

.wrapper {
  width: min(100% - 4rem);
  margin-inline: auto;
}

.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  text-align: center;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}
