@import "reset";
@import "design";
@import "global";
@import "variables";
@import "mixins";

img {
  margin-inline: auto;
}

// Mixins
.flex-center {
  @include FlexCenter(column);
}

// Hero section
.hero {
  &-image-left,
  &-image-right {
    display: none;
  }
  &-title {
    margin-bottom: 16px;
  }
  &-body {
    margin-bottom: 26px;
  }
}

// About section
.about {
  $parent: &-image;

  &-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $size-6;
    max-width: 1200px;
    margin: 0 auto;
  }

  &-image > img {
    border-radius: $size-4;
  }

  &-overline {
    color: $clr-primary-400;
    font-size: $size-5;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 4em;
  }

  &-title {
    font-size: 2rem;
    line-height: 1.15;
    margin-bottom: 26px;
  }
}

// Footer
footer {
  span {
    font-weight: $fw-600;
    color: $clr-secondary-100;
  }

  h2,
  p {
    color: $clr-white;
  }
}

.foot {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/mobile/image-footer.jpg);
  background-color: $clr-primary-400;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: space-around;
  padding-bottom: 3rem;
  background-blend-mode: soft-light;

  &-title {
    margin-top: $size-25;
  }

  &-content {
    position: relative;
    @include FlexCenter(column);
  }
}

// Buttons
.buttons {
  @include FlexCenter(column);
}

button {
  padding: $size-4 $size-12;
  border: none;
  border-radius: $size-8;
  color: $clr-white;
  font-weight: $fw-700;
  transition: background-color 0.3s ease;
  cursor: pointer;

  span {
    font-weight: $fw-600;
  }

  &[data-type="primary-color"] {
    background-color: $clr-primary-400;

    span {
      margin-right: 8px;

      &:nth-child(2) {
        color: $clr-primary-100;
      }
    }

    &:hover {
      background-color: #71c0d4;
    }
  }

  &[data-type="secondary-color"] {
    background-color: $clr-secondary-400;
    &:hover {
      background-color: #b18bdd;
    }
  }
}

.btn-large {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h3 {
    padding-right: $size-2;
  }
}

// Circle elements
.circle {
  width: $size-12;
  height: $size-12;
  margin-inline: auto;
  margin-bottom: 4rem;
  color: rgba(135, 135, 157, 0.5);
  font-weight: $fw-900;
  background-color: transparent;
  border-radius: 50%;
  outline: rgba(135, 135, 157, 0.5) solid 1px;

  &[data-type="bottom"] {
    background-color: $clr-white;
    margin-bottom: -1.2rem;
    position: relative;
    z-index: 2;
  }
}

.line {
  margin-top: 4rem;
  height: 84px;
  width: 50%;
  border-right: 0.1rem solid rgba(135, 135, 157, 0.5);
}

@media (min-width: 700px) {
  .buttons {
    flex-direction: row;
    gap: 20px;
  }
  .btn-small {
    margin-top: 0px;
  }
  .about-images {
    grid-template-columns: repeat(4, 1fr);
  }
}
