*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
  color: hsl(240deg, 10%, 57%);
}

.wrapper {
  width: min(100% - 4rem);
  margin-inline: auto;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

img {
  margin-inline: auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image-left, .hero-image-right {
  display: none;
}
.hero-title {
  margin-bottom: 16px;
}
.hero-body {
  margin-bottom: 26px;
}

.about-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}
.about-image > img {
  border-radius: 1rem;
}
.about-overline {
  color: hsl(192deg, 37%, 48%);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 4em;
}
.about-title {
  font-size: 2rem;
  line-height: 1.15;
  margin-bottom: 26px;
}

footer span {
  font-weight: 600;
  color: hsl(265deg, 100%, 86%);
}
footer h2,
footer p {
  color: hsl(0deg, 0%, 98%);
}

.foot {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/mobile/image-footer.jpg);
  background-color: hsl(192deg, 37%, 48%);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: space-around;
  padding-bottom: 3rem;
  background-blend-mode: soft-light;
}
.foot-title {
  margin-top: 6.25rem;
}
.foot-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  color: hsl(0deg, 0%, 98%);
  font-weight: 700;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
button span {
  font-weight: 600;
}
button[data-type=primary-color] {
  background-color: hsl(192deg, 37%, 48%);
}
button[data-type=primary-color] span {
  margin-right: 8px;
}
button[data-type=primary-color] span:nth-child(2) {
  color: hsl(192deg, 90%, 77%);
}
button[data-type=primary-color]:hover {
  background-color: #71c0d4;
}
button[data-type=secondary-color] {
  background-color: hsl(268deg, 34%, 53%);
}
button[data-type=secondary-color]:hover {
  background-color: #b18bdd;
}

.btn-large {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn-large h3 {
  padding-right: 0.5rem;
}

.circle {
  width: 3rem;
  height: 3rem;
  margin-inline: auto;
  margin-bottom: 4rem;
  color: rgba(135, 135, 157, 0.5);
  font-weight: 900;
  background-color: transparent;
  border-radius: 50%;
  outline: rgba(135, 135, 157, 0.5) solid 1px;
}
.circle[data-type=bottom] {
  background-color: hsl(0deg, 0%, 98%);
  margin-bottom: -1.2rem;
  position: relative;
  z-index: 2;
}

.line {
  margin-top: 4rem;
  height: 84px;
  width: 50%;
  border-right: 0.1rem solid rgba(135, 135, 157, 0.5);
}

@media (min-width: 700px) {
  .buttons {
    flex-direction: row;
    gap: 20px;
  }
  .btn-small {
    margin-top: 0px;
  }
  .about-images {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
